
/*********************************************************************
	Style for section entry.
*********************************************************************/
.newTaskSection {
	padding:0 12px;
}

/* Same style as #searchEntry on theme/gnome-shell.css */
#newTaskEntry, #newSectionEntry {
	color: rgb(128, 128, 128);
	border: 2px solid rgba(245,245,245,0.2);
	background: linear-gradient(90deg, rgba(5,5,6,1) 0%, rgba(254,254,254,1) 100%);
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

#newSectionEntry {
	padding: 7px 9px;
	border-radius: 6px;
	width: 320px;
}
#newTaskEntry {
	padding: 0px 2px;
	border-radius: 3px;
	margin-left: 12px;
	width: 250px;
}

#newTaskEntry:hover, #newSectionEntry:hover {
	transition-duration: 300;
}

#newTaskEntry:focus, #newSectionEntry:focus {
	font-weight: bold;
	transition-duration: 0;
}



/*********************************************************************
	Style for other elements
*********************************************************************/
.sec_supr, .icon_sec{
	margin-right: 0px;
	padding-right: 0px;
	text-align: right;
}

.popup-menu-item{
	background-color: rgba(128, 128, 128, 0.082);
}

.task-entry, .task-item{
	background-color: #343434;
	/*background-color: #25283C;*/
	padding-left: 17px;
	max-width: 100px;
}

.task-label{
	color: rgb(204, 204, 204);
	background: transparent;
	border: none;
	padding: 0, 0, 0, 0;
	margin: 0, 0, 0, 0;
}
