
.newTaskSection {
	padding:0 12px;
}

/* Same style as #searchEntry on theme/gnome-shell.css */
#newTaskEntry,
#newSectionEntry {
	color: rgb(128, 128, 128);
	border: 2px solid rgba(245,245,245,0.2);
	background-gradient-start: rgba(5,5,6,0.1);
	background-gradient-end: rgba(254,254,254,0.1);
	background-gradient-direction: vertical;
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

#newSectionEntry {
	padding: 7px 9px;
	border-radius: 6px;
	width: 320px;
}
#newTaskEntry {
	padding: 0px 2px;
	border-radius: 3px;
	margin-left: 12px;
	width: 250px;
}
#newTaskEntry:focus, #newTaskEntry:hover,
#newSectionEntry:focus, #newSectionEntry:hover {
	background-gradient-start: rgb(200,200,200);
	background-gradient-end: white;
	background-gradient-direction: vertical;
}

#newSectionEntry:focus, #newSectionEntry:hover{
	border-width: 2px;
}
#newTaskEntry:focus, #newTaskEntry:hover {
	border-width: 1px;
}

#newTaskEntry:hover,
#newSectionEntry:hover {
	transition-duration: 300;
}
#newTaskEntry:focus,
#newSectionEntry:focus {
	font-weight: bold;
	transition-duration: 0;
}



.sec_supr{
	margin-right: 0px;
	padding-right: 0px;
	text-align: right;
}

.icon_sec{
	padding-right: 0px;
	margin-right: 0px;
	text-align: right;
}
.popup-menu-item{
	background-color: @grey;
}

.task-entry,
.task-item{
	background-color: #343434;
	background-gradient: none;
	/*background-color: #25283C;*/
	padding-left: 17px;
	max-width: 100px;
}

.task-label{
	color: rgb(204, 204, 204);
	background: transparent;
	border: none;
	padding: 0, 0, 0, 0;
	margin: 0, 0, 0, 0;
}